name: windows_iap
description: A new Flutter project.
version: 0.0.1
homepage: https://github.com/opmgit/windows_iap

environment:
  sdk: ">=2.19.0 <3.0.0"
  flutter: ">=3.7.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      windows:
        pluginClass: WindowsIapPluginCApi
